bgColor = #FBFCFF

html, body
	background-color bgColor
	
body, h1, h2, h3, h4, h5, h6, p, a, span, li, dl, dt, dd, input
	font-family 'Hiragino Kaku Gothic Pro', Helvetica, Arial, sans-serif

*
	webkit-box-sizing border-box
	-moz-box-sizing border-box
	-o-box-sizing border-box
	-ms-box-sizing border-box
	box-sizing border-box